<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="KafkaAppender" type="YY.Log4net.Kafka.CoreKafkaAppender, log4net.Kafka.Core">
    <KafkaSettings>
      <broker value="192.168.3.230:9092" />
      <topic value="kafkalog" />
    </KafkaSettings>
    <layout type="YY.Log4net.Kafka.Core.KafkaLogLayout,log4net.Kafka.Core" >
      <appid value="YY.MSACommerce.UserMicroservice" />
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="KafkaAppender" />
  </root>
</log4net>