<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true">
	<!-- the targets to write to -->
	<targets>
		<!--<target xsi:type="Network" name="logError"  address="tcp://127.0.0.1:8001" layout="${longdate} ${uppercase:${level}} ${message}"/>-->

		<target xsi:type="Network" name="logInfo" address="tcp://120.78.170.106:9600" layout="${longdate} ${uppercase:${level}} ${message}"/>

	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
		<!--<logger name="*" minlevel="Error" writeTo="logError" />-->
		<logger name="*" minlevel="Info"  writeTo="logInfo" />
		<logger name="Microsoft.*" maxLevel="Info" final="true" />

	</rules>
</nlog>